<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers Table</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Customer Profiles</h1>
        <a href="/" class="back-button">Back to Main</a>
    </header>

    <main>
        <p>This table displays all customer profiles</p>

        <table>
            {% if data %}
            <tr>
                <!--iterate through each key in data[0] to get the column name-->
                {% for key in data[0].keys() %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">
                        {{key}}</th>
                {% endfor %}
                    <th>Actions</th>
            </tr>

            {% for customer in data %}
            <tr>
                {% for key in customer %}
                <td>{{customer[key]}}</td>
                {% endfor %}
                <td class="actions">
                    <a href="editCustomer/{{customer.customerID}}">Edit</a>
                    <a href="#delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

        <!-- Add Customer Profile Button matching the styles of other pages -->
        <button class="add-button" onclick="window.location.href='/addCustomer';">Add New Customer Profile</button>
    </main>

</body>
</html>