<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        select {
            width: 200px;
            margin-top: 8px;
            font-size: 32px;    
            padding: 12px 16px;  
            }
    </style>
</head>
<body>
    <header>
        <h1>select a store to view store's CRM</h1>
        <a href="/" class="back-button">Back to Main</a>
    </header>

    <main>
        {% if data %}       
        <select id="storeCRM-select">
            <option value="">--Please choose an option--</option>
            {% for seller in data %}
            <option value="/storeCRM/{{seller.store_name}}">{{seller.store_name}}</option>
             {% endfor %}
        </select>
       
        <button onclick="redirectToStore()">Go to CRM</button>
        {% endif%}
    </main>

    <script>
        function redirectToStore() {
            const storeSelect = document.getElementById('storeCRM-select');
            const selectedStore = storeSelect.value;
            if (selectedStore) {
                window.location.href = selectedStore;
            } else {
                alert('Please select a store to continue.');
            }
        }
    </script>
</body>
</html>
