<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STORE'S CRM</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        form {
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>



</head>
<body>
    <header>
    {% if data %}
        <h1>edit email opt-out for {{store_name}} customer: </h1>
        <a href="/" class="back-button"> Back to Main Page</a>
        <a href="/storeCRM/{{store_name}}" class="back-button">Back to CRM</a>
    </header>
    <main>
        <form id = "edit_opt_out" method = "POST" action = "/editEmailOptOut/{{store_name}}/{{customerID}}">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                {% for key in data[0].keys()%}
                <th>{{key}}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
            
        {% for customer in data %}
            <tr>
                {% for key in customer %}
                {% if key != 'email_opt_out'%}
                    <td>{{customer[key]}}</td>
                {% else %}
                    
                    <td>
                        {% if customer.email_opt_out == 1%}
                        <select name = "email_opt_out">
                            <option value=TRUE selected>Yes</option>
                            <option value=FALSE>No</option>
                        </select>
                        {% else %}
                        <select name = "email_opt_out">
                            <option value=TRUE>Yes</option>
                            <option value=FALSE selected>No</option>
                        </select>
                        {% endif %}
                    </td>

                {% endif%}
                {% endfor %}
                <td class="actions">
                    <button type="submit" name = "edit_opt_out" value = "edit_oput_out">
                        Confirm </button>
                    <a href="/storeCRM/{{store_name}}">
                        Cancel</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        </form>
    </main>
    {% endif %}
</body>
</html>
