<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STORE'S CRM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Change email opt-out</h1>
        <a href="/" class="back-button"> Back to Main Page</a>
        <a href="/storeCRM" class="back-button">Back to CRM</a>
    </header>
    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Opt-Out</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Alice</td>
                <td>Johnson</td>
                <td>
                    <select>
                        <option value="TRUE" selected>Yes</option>
                        <option value="FALSE">No</option>
                    </select>
                </td>
                <td class="actions">
                    <a href="/storeCRM">
                        Confirm
                    </a>
                    <a href="/storeCRM">
                        Cancel
                    </a>
                </td>


            </tr>
        </table>
    </main>
</body>
</html>
