<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Product Listings</h1>
    </header>

    <button class="back-button" onclick="window.location.href='/';">Back to Main</button>

    <main>
        <p>This table displays details for each product available for sale:</p>

        <table>
            {% if data %}
            <tr>
                <!--iterate through each key in data[0] to get the column name-->
                {% for key in data[0].keys() %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">
                        {{key}}</th>
                {% endfor %}
                    <th>Actions</th>
            </tr>

            {% for products in data %}
            <tr>
                {% for key in products %}
                <td>{{products[key]}}</td>
                {% endfor %}
                <td class="actions">
                    <a href="editProduct/{{products.productID}}">Edit</a>
                    <a href="deleteProduct/{{products.productID}}">Delete</a>
                    <a href="/addProduct" class="add-product-button">Add New Product</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

        <button class="add-button" onclick="window.location.href='/addProduct';">Add New Product</button>

    </main>
</body>
</html>

